<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boidstudio.vn.p3_dota2fanartwallpaper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="boidstudio.vn.p3_dota2fanartwallpaper.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="boidstudio.vn.p3_dota2fanartwallpaper.activity.ListImagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="boidstudio.vn.p3_dota2fanartwallpaper.activity.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>


        <!-- StartApp activities integration -->
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.startapp.android.DEV_ID"
            android:value="109866585" />
        <meta-data
            android:name="com.startapp.android.APP_ID"
            android:value="212836627" />
        <!-- End of StartApp activities integration -->
    </application>

</manifest>
